  <div class="row" >
    <div class="span10 offset1" id="pedidos" style="background-color: #f5f5f5;">
      <br>
      <br>
      <br>
      <br>
      
    </div>
  </div>
  <div class="row" >
    <div class="span10 offset1" style="background-color: #f5f5f5;">
      <img src="/assets/confirmacion.png">
      <br>
      <a href="https://www.facebook.com/pages/Jamon-Sierra-Nevada/309399859077176" target="_blank" style="margin-left: 80%; background-color: #f5f5f5;" >
            <img src="/assets/facebook_icon.png" width="35px;"  style=" z-index: 100;  margin-top: -20%;">
        </a>
    </div>
  </div>
  <div class="row" >
    <div class="span10 offset1" style="background-color: #f5f5f5;">
      <img src="/assets/footer.jpg">
    </div>
  </div>