  <div class="row" >
    <div class="span10 offset1" id="pedidos" style="background-color: #f5f5f5;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="row" >
    <div class="span10 offset1" style="background-color: #f5f5f5;">
      <img src="/assets/confirmacion.png">
    </div>
  </div>
  <div class="row" >
    <div class="span10 offset1" style="background-color: #f5f5f5;">
      <img src="/assets/footer.jpg">
    </div>
  </div>