  <div class="row" >
    <div class="span12" id="pedidos" style="background-color: #f5f5f5;">
      <img src="/assets/confirmacion.png">
    </div>
  </div>
  <div class="row" >
    <div class="span12" style="background-color: #f5f5f5;">
      <img src="/assets/footer.jpg">
    </div>
  </div>