  <div class="row" >
    <div class="span10 offset1" id="pedidos" style="background-color: #f5f5f5;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="row" >
    <div class="span10 offset1" id="pedidos">
      <img src="/assets/pedidos2.jpg">
    </div>
  </div>
   <div class="row" >
    <div class="span10 offset1" id="pedidos">
      <img src="/assets/seleccione.jpg">
    </div>
  </div>

   <div class="row" >
    <div class="span10 offset1" style="background-color: #f5f5f5;" >
<div id="myCarousel4" class="carousel slide" style="margin-bottom: 0px;"  data-interval="5000">
      <ol class="carousel-indicators">
      <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel4" data-slide-to="1"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
      <div class="active item">
        <div class="row">
        <div class="span1"> &nbsp;</div>

        <div class="span4" style="background-color: #f5f5f5;">

        <br>
        <br>
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputPassword">PIERNA 5 a 5,9 KILOS</label>
              <div class="controls">
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>         
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">PIERNA 6 a 6,9 KILOS</label>
              <div class="controls">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option1" >         
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">PIERNA 7 a 7.5 KILOS</label>
              <div class="controls">
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option1" >         
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputEmail">Unidades</label>
              <div class="controls">
                <input type="text" id="inputEmail" class="span1">
              </div>
            </div>
              <br>
              <br>
          </form>
        </div>
        <div class="span5">
          <img src="/assets/PATA-DEL-JAMON-EN-PEDESTAL.jpg"   alt="">
        </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
        <div class="span1"> &nbsp;</div>
        <div class="span4" style="background-color: #f5f5f5;">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputPassword">LOMO 0.5 KILOS</label>
              <div class="controls">
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option1" >         
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputEmail">Unidades</label>
              <div class="controls">
                <input type="text" id="inputEmail" class="span1">
              </div>
            </div>
              <br>
              <br>
          </form>
        </div>
        <div class="span5">
          <img src="/assets/LOMO-FONDO-BLANCO.jpg"   alt="">
        </div>
        </div>
      </div>

      </div>
       <a class="carousel-control left" href="#myCarousel4" data-slide="prev">&lsaquo;</a>
       <a class="carousel-control right" href="#myCarousel4" data-slide="next">&rsaquo;</a>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="span10 offset1" id="pedidos" style="background-color: #f5f5f5;">
      <p style="text-align: center;">
        <br>
        EL COSTO POR KILO ES BS 170 <br>
        Con las flechas puede seguir viendo y seleccionar su pedido
      </p>
      <img src="/assets/line.jpg">
    </div>
  </div>

   <div class="row" >
    <div class="span10 offset1" style="background-color: #f5f5f5;">
    	<div class="row">
    		<div class="span5" style="background-color: #f5f5f5;">
      				<img src="/assets/llene.jpg">
    		</div>
    		<div class="span5" style="background-color: #f5f5f5;">
      				<img src="/assets/escriba.jpg">
    		</div>
		</div>
    </div>
  </div>
  <div class="row" >
    <div class="span10 offset1" style="background-color: #f5f5f5;">
    	<div class="row">
          <form class="form-horizontal">

    		<div class="span5" style="background-color: #f5f5f5;">

          <div class="control-group">
            <label class="control-label" for="nombre">*Nombre</label>
            <div class="controls">
              <input type="text" id="nombre" placeholder="Nombre">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="empresa">Empresa o negocio</label>
            <div class="controls">
              <input type="text" id="empresa" placeholder="empresa">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="ciudad">Ciudad</label>
            <div class="controls">
              <input type="text" id="ciudad" placeholder="ciudad">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="telefono">Telefono</label>
            <div class="controls">
              <input type="text" id="telefono" placeholder="telefono">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">*Email</label>
            <div class="controls">
              <input type="text" id="email" placeholder="Email">
            </div>
          </div>


    		</div>
    		<div class="span5" style="background-color: #f5f5f5;">
				<div class="control-group">
				  <textarea style="width: 70%;" rows="6"></textarea>
				</div>
    			<img src="/assets/presione.jpg">
	            <div class="control-group">
	            <div class="controls">
	              <a href="/confirmar#pedidos" class="btn btn-success btn-large">Enviar</a>
	            </div>
	          	</div>

    		</div>
    		</form>

		</div>
    </div>
  </div>
  <div class="row" >
    <div class="span10 offset1" id="pedidos">
      <img src="/assets/footer.jpg">
    </div>
  </div>
