  <div class="row" >
    <div class="span12" id="pedidos">
      <img src="/assets/pedidos.jpg">
    </div>
  </div>
   <div class="row" >
    <div class="span12" id="pedidos">
      <img src="/assets/seleccione.jpg">
    </div>
  </div>

  <div class="row" >
    <div class="span12" id="pedidos">
      <img src="/assets/line.jpg">
    </div>
  </div>

   <div class="row" >
    <div class="span12" style="background-color: #f5f5f5;">
    	<div class="row">
    		<div class="span6" style="background-color: #f5f5f5;">
      				<img src="/assets/llene.jpg">
    		</div>
    		<div class="span6" style="background-color: #f5f5f5;">
      				<img src="/assets/escriba.jpg">
    		</div>
		</div>
    </div>
  </div>
  <div class="row" >
    <div class="span12" style="background-color: #f5f5f5;">
    	<div class="row">
          <form class="form-horizontal">

    		<div class="span6" style="background-color: #f5f5f5;">

          <div class="control-group">
            <label class="control-label" for="nombre">*Nombre</label>
            <div class="controls">
              <input type="text" id="nombre" placeholder="Nombre">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="empresa">Empresa o negocio</label>
            <div class="controls">
              <input type="text" id="empresa" placeholder="empresa">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="ciudad">Ciudad</label>
            <div class="controls">
              <input type="text" id="ciudad" placeholder="ciudad">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="telefono">Telefono</label>
            <div class="controls">
              <input type="text" id="telefono" placeholder="telefono">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">*Email</label>
            <div class="controls">
              <input type="text" id="email" placeholder="Email">
            </div>
          </div>


    		</div>
    		<div class="span6" style="background-color: #f5f5f5;">
				<div class="control-group">
				  <textarea style="width: 70%;" rows="6"></textarea>
				</div>
    			<img src="/assets/presione.jpg">
	            <div class="control-group">
	            <div class="controls">
	              <a href="/confirmar#pedidos" class="btn btn-success btn-large">Enviar</a>
	            </div>
	          	</div>

    		</div>
    		</form>

		</div>
    </div>
  </div>
  <div class="row" >
    <div class="span12" id="pedidos">
      <img src="/assets/footer.jpg">
    </div>
  </div>